<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <!--BEGIN: Unity-->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension
      type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <container>
      <extension type="Interception" />
      <!--Cache Provider-->
      <register type="Unity4AOP.ITalk, Unity4AOP" mapTo="Unity4AOP.Talk, Unity4AOP">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="Unity4AOP.CachingBehavior, Unity4AOP" />
        <interceptionBehavior type="Unity4AOP.ExceptionLoggingBehavior, Unity4AOP" />
        <!--<constructor></constructor>-->
      </register>
    </container>
  </unity>
  <!--END: Unity-->
</configuration>